*:focus {
  outline: none;
}

label {
  font-family: 'Anonymous Pro', monospace;
  margin-top: 10px;
  margin-bottom: 0;
}

label#url-input-label {
  display: block;
}

input[type="button"] {
  /* display: inline; */
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
}

input#docs-select, 
input#dark-select {
  display: inline-block;
  margin-top: 34px;
}

#prefix {
  background-color: #D1D1D1;
}

#prefix-label {
  color: #D1D1D1;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: #BC3339 !important;
  
}

#dark-select {
  color: white;
  background-color: #404040;
}

input#generate {
  background-color: #BC3339 !important;
  outline-color: black;
  color: white;
  margin-top: 10px;
}

input#clear-utms {
  color: #BC3339;
  border: 1px solid #BC3339;
  margin-top: 10px;
}

input[type="text"], 
input[type="number"], 
input[type="url"] {
  width: 100%;
  color: #BC3339;
  font-family: 'Work Sans', sans-serif;
}

li {
    list-style: none;
}

#url-input:-webkit-autofill {
  background-color: white !important;
}

#bt-logo {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 15px;
}

a {
  text-decoration: none;
}

hr {
  margin: 5px 0 5px 0;
}

#author {
  float: right;
  margin: 2px;
  font-size: 12px;
  font-family: 'Anonymous Pro', monospace;
}

.red-text {
  color: #BC3339;
}

#hidden-output {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.centered {
  margin:0 auto;
}

.gen {
  border-color: #D1D1D1;
  width: 10% !important;
  display: inline-block;
  float: right;
  padding-left: 7px !important;
  padding-right: 5px !important;
  background-color: #BC3339 !important;
  color: #fff !important;
}

.url-input {
  width: 85% !important;
  float: left;
  display: inline-block !important;
}

.utm-btn {
  width: 100%;
}

.HDR {
  background-color: #BC3339;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  transition: background-color .5s, color .5s, border-color .5s;
}

.FTR {
  background-color: #A3353A;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  transition: background-color .5s, color .5s, border-color .5s;
}

.IMG {
  background-color: #8A383B;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  transition: background-color .5s, color .5s, border-color .5s;
}

.BDY {
  background-color: #713A3D;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  transition: background-color .5s, color .5s, border-color .5s;
}

.CTA {
  background-color: #583D3E;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  transition: background-color .5s, color .5s, border-color .5s;
}


.SIG {
  background-color: #404040;
  color: #fff;
  font-family: 'Anonymous Pro', monospace;
  transition: background-color .5s, color .5s, border-color .5s;
  transition-timing-function: ease-in-out;

}

.HDR:hover,
.FTR:hover,
.IMG:hover,
.BDY:hover,
.CTA:hover,
.SIG:hover {
  background-color: #fff;
  color: #000;
  border-color: #BC3339;
}

label {
  text-align: center;
}

pre {
  display: inline;
}

/* @media (max-width: 865px) {
  input,
  label,
  button {
    font-size: 10px;
  }

} */

/* NEED JS */

#message {
  max-width: 100%;
  margin: 34px 0 9px 0;
  /* border: 1px solid #fff; */
  border-radius: 4px;
  display: block; 
  height: 38px; 
  text-align:center; 
  line-height:38px;
  transition: background-color;
  transition-timing-function: ease-out;
  transition-duration: .3s;
}

#message:focus {
  background-color: #BC3339;
}

span {
  font-family: 'Anonymous Pro', monospace;
  color: #fff;
}

#output-area {
  margin-bottom: 30px;
}

.push-down {
  margin-top: 30px;
}

#scroll-top {
  width: 50%;
  margin: 0 auto 30px auto;
  display: none;
  font-family: 'Anonymous Pro', monospace;
  background: linear-gradient(to top, #404040, #BC3339);
  color: #fff;
}

#scroll-top:hover {
  background: linear-gradient(to top, #BC3339, #404040);
}

