label {
  font-family: 'Anonymous Pro', monospace;
  margin-top: 10px;
  margin-bottom: 0;
}

.container {
  width: 93vw;
}

input[type="button"] {
  display: inline;
  font-family: 'Anonymous Pro', monospace;
  font-size: 18px;
}

input#build-select, input#engage-select {
  margin-bottom: 10px;
}

input#generate {
  background-color: #BC3339 !important;
  outline-color: black;
  color: white;
  margin-top: 10px;
}

input#clear-utms {
  color: #BC3339;
  border: 1px solid #BC3339;
  margin-top: 10px;
}

input[type="text"], input[type="number"], input[type="url"] {
  width: 100%;
}

li {
    list-style: none;
}

#engage-title, #engage-title-label {
  display: none;
}

#bt-logo {
  height: 40px;
  margin-top: 25px;
  margin-left: 35px;
  display: inline-block;
}

#page-title {
  font-size: 59px;
  display: inline-block;
  font-family: 'Anonymous Pro', monospace;
  margin: 5px 0 5px 0;
}

a {
  text-decoration: none;
}

.red-text {
  color: #BC3339;
}

hr {
  margin: 5px 0 5px 0;
}

#author {
  float: right;
  margin: 2px;
  font-size: 12px;
  font-family: 'Anonymous Pro', monospace;
}

p.utm-display-label {
  /* display: none; */
  font-size: 10px;
  text-align: center;
}

div.two {
  margin-right: 7px;
}

.output-item {
  width: 100%;
  margin-bottom: 18px;
  /* padding-right: 13px !important; */
  /* padding-left: 15px !important; */
  transition: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

.output-item:hover {
  background-color: #BC3339;
  color: white;
}